# Secrets
.env
.env.*
local.settings.json
**/local.settings.json

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dO-frontend/node_modules/
dist/
dO-frontend/dist/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
